@charset "UTF-8";


/* sass */
body, div, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, table, caption, th, td, form, fieldset, input, textarea, select, pre, address, blockquote, embed, object, dfn, article, aside, canvas, figure, figcaption, footer, header, nav, section, main, audio, video { margin: 0px; padding: 0px; }

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; }

address, dfn { display: inline; font-style: normal; }

canvas { width: 0; height: 0; }

iframe { width: 100%; margin: 0; padding: 0; border: none; }

html { overflow-y: scroll; font-size: 62.5%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

html * { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-overflow-scrolling: touch; }

* { box-sizing: border-box; }

body { color: #333; font-family: "Noto Sans JP", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; background: #fff; font-size: 1.6em; line-height: 1; }

em { font-style: normal; font-weight: bold; }

strong { font-style: normal; font-weight: bold; }

ul, ol { list-style: none; }

table { border-collapse: separate; border-spacing: 0; empty-cells: show; }

caption, th { text-align: left; }

img { border: 0; vertical-align: middle; -webkit-backface-visibility: hidden; backface-visibility: hidden; }

a { cursor: pointer; }

form { font-weight: normal; }

input, button, textarea, select { font-size: 1.6rem; line-height: inherit; -webkit-appearance: none; -moz-appearance: none; appearance: none; margin: 0; padding: 0; background: transparent; border: none; border-radius: 0; text-transform: none; font-family: "Noto Sans JP", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

select::-ms-expand { display: none; }

.txt { line-height: 1.8; }

.img-wrap { font-size: 0; line-height: 0; }

.u-ft-xxs { font-size: 1rem !important; }

.u-ft-xs { font-size: 1.2rem !important; }

.u-ft-s { font-size: 1.3rem !important; }

.u-ft-m { font-size: 1.4rem !important; }

.u-ft-l { font-size: 1.6rem !important; }

.u-ft-xl { font-size: 1.8rem !important; }

.u-ft-xxl { font-size: 2.2rem !important; }

.clearfix:after { display: block; content: ''; clear: both; }

.u-ta-l { text-align: left !important; }

.u-ta-c { text-align: center !important; }

.u-ta-r { text-align: right !important; }

.u-ta-l-c { text-align: left !important; }

.u-ta-l-r { text-align: left !important; }

.u-ta-c-l { text-align: center !important; }

.u-ta-c-r { text-align: center !important; }

.u-ta-r-l { text-align: right !important; }

.u-ta-r-c { text-align: right !important; }

.u-disp-n { display: none !important; }

.u-disp-b { display: block !important; }

.u-disp-i-n { display: inline !important; }

.u-disp-ib-n { display: inline-block !important; }

.u-disp-b-n { display: block !important; }

.u-disp-n-i { display: none !important; }

.u-disp-n-ib { display: none !important; }

.u-disp-n-b { display: none !important; }

.u-br-sp { display: inline !important; }

.u-br-pc { display: none !important; }

.u-mg0 { margin: 0 !important; }

.u-mg-auto { margin-left: auto !important; margin-right: auto !important; }

.u-mgt-xxs { margin-top: 5px !important; }

.u-mgt-xs { margin-top: 10px !important; }

.u-mgt-s { margin-top: 15px !important; }

.u-mgt-m { margin-top: 20px !important; }

.u-mgt-l { margin-top: 25px !important; }

.u-mgt-xl { margin-top: 30px !important; }

.u-mgt-xxl { margin-top: 40px !important; }

.u-mgb-xxs { margin-bottom: 5px !important; }

.u-mgb-xs { margin-bottom: 10px !important; }

.u-mgb-s { margin-bottom: 15px !important; }

.u-mgb-m { margin-bottom: 20px !important; }

.u-mgb-l { margin-bottom: 25px !important; }

.u-mgb-xl { margin-bottom: 30px !important; }

.u-mgb-xxl { margin-bottom: 40px !important; }

.u-pd0 { padding: 0 !important; }

.u-pdt-xxs { padding-top: 5px !important; }

.u-pdt-xs { padding-top: 10px !important; }

.u-pdt-s { padding-top: 15px !important; }

.u-pdt-m { padding-top: 20px !important; }

.u-pdt-l { padding-top: 25px !important; }

.u-pdt-xl { padding-top: 30px !important; }

.u-pdt-xxl { padding-top: 40px !important; }

.u-pdb-xxs { padding-bottom: 5px !important; }

.u-pdb-xs { padding-bottom: 10px !important; }

.u-pdb-s { padding-bottom: 15px !important; }

.u-pdb-m { padding-bottom: 20px !important; }

.u-pdb-l { padding-bottom: 25px !important; }

.u-pdb-xl { padding-bottom: 30px !important; }

.u-pdb-xxl { padding-bottom: 40px !important; }

.u-va-t { vertical-align: top !important; }
.u-va-m { vertical-align: middle !important; }
.u-va-b { vertical-align: bottom !important; }




@media all and (min-width: 641px) { .u-ft-xxs { font-size: 1rem !important; }
  .u-ft-xs { font-size: 1.2rem !important; }
  .u-ft-s { font-size: 1.4rem !important; }
  .u-ft-m { font-size: 1.6rem !important; }
  .u-ft-l { font-size: 1.8rem !important; }
  .u-ft-xl { font-size: 2rem !important; }
  .u-ft-xxl { font-size: 2.4rem !important; }
  .u-ta-l-c { text-align: center !important; }
  .u-ta-l-r { text-align: right !important; }
  .u-ta-c-l { text-align: left !important; }
  .u-ta-c-r { text-align: right !important; }
  .u-ta-r-l { text-align: left !important; }
  .u-ta-r-c { text-align: center !important; }
  .u-disp-i-n { display: none !important; }
  .u-disp-ib-n { display: none !important; }
  .u-disp-b-n { display: none !important; }
  .u-disp-n-i { display: inline !important; }
  .u-disp-n-ib { display: inline-block !important; }
  .u-disp-n-b { display: block !important; }
  .u-br-sp { display: none !important; }
  .u-br-pc { display: inline !important; }
  a img.u-btn { opacity: 1.0; transition: opacity 0.3s; }
  a:hover img.u-btn { opacity: 0.8; }
  img.u-btn { opacity: 0.3; }
  .u-mg0 { margin: 0 !important; }
  .u-mg-auto { margin-left: auto !important; margin-right: auto !important; }
  .u-mgt-xxs { margin-top: 10px !important; }
  .u-mgt-xs { margin-top: 20px !important; }
  .u-mgt-s { margin-top: 30px !important; }
  .u-mgt-m { margin-top: 40px !important; }
  .u-mgt-l { margin-top: 50px !important; }
  .u-mgt-xl { margin-top: 60px !important; }
  .u-mgt-xxl { margin-top: 80px !important; }
  .u-mgb-xxs { margin-bottom: 10px !important; }
  .u-mgb-xs { margin-bottom: 20px !important; }
  .u-mgb-s { margin-bottom: 30px !important; }
  .u-mgb-m { margin-bottom: 40px !important; }
  .u-mgb-l { margin-bottom: 50px !important; }
  .u-mgb-xl { margin-bottom: 60px !important; }
  .u-mgb-xxl { margin-bottom: 80px !important; }
  .u-pd0 { padding: 0 !important; }
  .u-pdt-xxs { padding-top: 10px !important; }
  .u-pdt-xs { padding-top: 20px !important; }
  .u-pdt-s { padding-top: 30px !important; }
  .u-pdt-m { padding-top: 40px !important; }
  .u-pdt-l { padding-top: 50px !important; }
  .u-pdt-xl { padding-top: 60px !important; }
  .u-pdt-xxl { padding-top: 80px !important; }
  .u-pdb-xxs { padding-bottom: 10px !important; }
  .u-pdb-xs { padding-bottom: 20px !important; }
  .u-pdb-s { padding-bottom: 30px !important; }
  .u-pdb-m { padding-bottom: 40px !important; }
  .u-pdb-l { padding-bottom: 50px !important; }
  .u-pdb-xl { padding-bottom: 60px !important; }
  .u-pdb-xxl { padding-bottom: 80px !important; } }

/* 追加ユニバーサルクラス */
.u-mgt0{margin-top:0px!important;}
.u-mgt5{margin-top:5px!important;}
.u-mgt10{margin-top:10px!important;}
.u-mgt15{margin-top:15px!important;}
.u-mgt20{margin-top:20px!important;}
.u-mgt25{margin-top:25px!important;}
.u-mgt30{margin-top:30px!important;}
.u-mgt35{margin-top:35px!important;}
.u-mgt40{margin-top:40px!important;}
.u-mgt45{margin-top:45px!important;}
.u-mgt50{margin-top:50px!important;}
.u-mgr0{margin-right:0px!important;}
.u-mgr5{margin-right:5px!important;}
.u-mgr10{margin-right:10px!important;}
.u-mgr15{margin-right:15px!important;}
.u-mgr20{margin-right:20px!important;}
.u-mgr25{margin-right:25px!important;}
.u-mgr30{margin-right:30px!important;}
.u-mgr35{margin-right:35px!important;}
.u-mgr40{margin-right:40px!important;}
.u-mgr45{margin-right:45px!important;}
.u-mgr50{margin-right:50px!important;}
.u-mgb0{margin-bottom:0px!important;}
.u-mgb5{margin-bottom:5px!important;}
.u-mgb10{margin-bottom:10px!important;}
.u-mgb15{margin-bottom:15px!important;}
.u-mgb20{margin-bottom:20px!important;}
.u-mgb25{margin-bottom:25px!important;}
.u-mgb30{margin-bottom:30px!important;}
.u-mgb35{margin-bottom:35px!important;}
.u-mgb40{margin-bottom:40px!important;}
.u-mgb45{margin-bottom:45px!important;}
.u-mgb50{margin-bottom:50px!important;}
.u-mgl0{margin-left:0px!important;}
.u-mgl5{margin-left:5px!important;}
.u-mgl10{margin-left:10px!important;}
.u-mgl15{margin-left:15px!important;}
.u-mgl20{margin-left:20px!important;}
.u-mgl25{margin-left:25px!important;}
.u-mgl30{margin-left:30px!important;}
.u-mgl35{margin-left:35px!important;}
.u-mgl40{margin-left:40px!important;}
.u-mgl45{margin-left:45px!important;}
.u-mgl50{margin-left:50px!important;}

.u-pdt0{padding-top:0px!important;}
.u-pdt5{padding-top:5px!important;}
.u-pdt10{padding-top:10px!important;}
.u-pdt15{padding-top:15px!important;}
.u-pdt20{padding-top:20px!important;}
.u-pdt25{padding-top:25px!important;}
.u-pdt30{padding-top:30px!important;}
.u-pdt35{padding-top:35px!important;}
.u-pdt40{padding-top:40px!important;}
.u-pdt45{padding-top:45px!important;}
.u-pdt50{padding-top:50px!important;}
.u-pdr0{padding-right:0px!important;}
.u-pdr5{padding-right:5px!important;}
.u-pdr10{padding-right:10px!important;}
.u-pdr15{padding-right:15px!important;}
.u-pdr20{padding-right:20px!important;}
.u-pdr25{padding-right:25px!important;}
.u-pdr30{padding-right:30px!important;}
.u-pdr35{padding-right:35px!important;}
.u-pdr40{padding-right:40px!important;}
.u-pdr45{padding-right:45px!important;}
.u-pdr50{padding-right:50px!important;}
.u-pdb0{padding-bottom:0px!important;}
.u-pdb5{padding-bottom:5px!important;}
.u-pdb10{padding-bottom:10px!important;}
.u-pdb15{padding-bottom:15px!important;}
.u-pdb20{padding-bottom:20px!important;}
.u-pdb25{padding-bottom:25px!important;}
.u-pdb30{padding-bottom:30px!important;}
.u-pdb35{padding-bottom:35px!important;}
.u-pdb40{padding-bottom:40px!important;}
.u-pdb45{padding-bottom:45px!important;}
.u-pdb50{padding-bottom:50px!important;}
.u-pdl0{padding-left:0px!important;}
.u-pdl5{padding-left:5px!important;}
.u-pdl10{padding-left:10px!important;}
.u-pdl15{padding-left:15px!important;}
.u-pdl20{padding-left:20px!important;}
.u-pdl25{padding-left:25px!important;}
.u-pdl30{padding-left:30px!important;}
.u-pdl35{padding-left:35px!important;}
.u-pdl40{padding-left:40px!important;}
.u-pdl45{padding-left:45px!important;}
.u-pdl50{padding-left:50px!important;}

.u-w1p{width:1%!important;}
.u-w2p{width:2%!important;}
.u-w3p{width:3%!important;}
.u-w4p{width:4%!important;}
.u-w5p{width:5%!important;}
.u-w6p{width:6%!important;}
.u-w7p{width:7%!important;}
.u-w8p{width:8%!important;}
.u-w9p{width:9%!important;}
.u-w10p{width:10%!important;}
.u-w11p{width:11%!important;}
.u-w12p{width:12%!important;}
.u-w13p{width:13%!important;}
.u-w14p{width:14%!important;}
.u-w15p{width:15%!important;}
.u-w16p{width:16%!important;}
.u-w17p{width:17%!important;}
.u-w18p{width:18%!important;}
.u-w19p{width:19%!important;}
.u-w20p{width:20%!important;}
.u-w21p{width:21%!important;}
.u-w22p{width:22%!important;}
.u-w23p{width:23%!important;}
.u-w24p{width:24%!important;}
.u-w25p{width:25%!important;}
.u-w26p{width:26%!important;}
.u-w27p{width:27%!important;}
.u-w28p{width:28%!important;}
.u-w29p{width:29%!important;}
.u-w30p{width:30%!important;}
.u-w31p{width:31%!important;}
.u-w32p{width:32%!important;}
.u-w33p{width:33%!important;}
.u-w34p{width:34%!important;}
.u-w35p{width:35%!important;}
.u-w36p{width:36%!important;}
.u-w37p{width:37%!important;}
.u-w38p{width:38%!important;}
.u-w39p{width:39%!important;}
.u-w40p{width:40%!important;}
.u-w41p{width:41%!important;}
.u-w42p{width:42%!important;}
.u-w43p{width:43%!important;}
.u-w44p{width:44%!important;}
.u-w45p{width:45%!important;}
.u-w50p{width:50%!important;}
.u-w55p{width:55%!important;}
.u-w60p{width:60%!important;}
.u-w65p{width:65%!important;}
.u-w70p{width:70%!important;}
.u-w75p{width:75%!important;}
.u-w80p{width:80%!important;}
.u-w85p{width:85%!important;}
.u-w90p{width:90%!important;}
.u-w95p{width:95%!important;}
.u-w100p{width:100%!important;}

.u-lh-0{line-height:0!important}
.u-lh-10{line-height:1!important}
.u-lh-15{line-height:1.5!important}
.u-lh-18{line-height:1.8!important}
.u-lh-20{line-height:2!important}



@media all and (max-width: 641px) {
.u-sp-w100p { width: 100% !important; height: auto !important; }
}